<h1>Simple Blog</h1>
<h3>New Post</h3>
<form action="/write" method="POST">
  <input type="text" name="name" placeholder="NAME"><br>
  <input type="text" name="age" placeholder="AGE"><br>
  <input type="text" name="title" placeholder="TITLE"><br>
  <textarea name="contents" placeholder="Contents"></textarea><br>
  <input type="text" name="tag" placeholder="TAGs"><br>
  <input type="submit" value="작성!">
</form>
<hr>
<h3>Posts</h3>
<% @posts.reverse.each do |p| %>
  <div>
    <h3># <%=p.id%></h3>
    <ul>
      <li><%=p.name%> - <%=p.age%></li>
      <li><%=p.created_at%></li>
    </ul>
    <form action="/update" method="GET">
      <input type="hidden" name="id" value="<%=p.id%>">
      <input type="text" name="title" value="<%=p.title%>">
      <br>
      <textarea name="contents"><%=p.contents%></textarea><br>
      <p><%=p.tag%></p>
      <input type="submit" value="update">
    </form>
  </div>
<hr>
<% end %>
